/** @format */

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	font-family: "Oxygen", sans-serif;
	font-size: 16px;
}

.hero-bg {
	background-image: linear-gradient(
			rgba(250, 250, 250, 0.4),
			rgba(250, 250, 250, 0.4)
		),
		url("../images/background.jpg");
	background-size: cover;
}

.logo {
	width: 120px;
	display: flex;
	justify-content: center;
}

.logo__reg {
	position: absolute;
	top: 20px;
	left: 20px;
	display: flex;
	align-items: center;
	img {
		width: 80px;
		height: 80%;
		margin-right: 10px;
	}
	h5 {
		line-height: 0;
	}
}

.benefits-card {
	border-left: 2px solid grey;
	padding: 30px;
	margin: 10px;
	i {
		font-size: 50px;
		text-align: center;
		width: 100%;
	}
	h4 {
		line-height: 0;
		text-align: center;
	}
	p {
		font-size: 0.7em;
		width: 100%;
		text-align: center;
	}
}

.members--hero {
	margin-bottom: 10px;
}
.card {
	border-left: 2px solid green;
	border-radius: 15px;
	padding: 15px;
	margin: 0px 10px 15px 10px;
	.header {
		display: flex;
		align-items: flex-end;
		padding-bottom: 8px;
		border-bottom: 1px solid rgb(188, 218, 188);
		img {
			width: 60px;
			height: 55px;
		}
		small {
			font-size: 0.65em;
			font-weight: bold;
			margin-left: 5px;
			color: green;
		}
	}
	.body {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		p {
			font-size: 0.57em;
			width: 100%;
			color: rgb(18, 81, 122);

			i {
				color: green;
				margin-right: 5px;
			}
		}
	}
	p {
		font-size: 0.6em;
		line-height: 0;
		width: 100%;
		color: rgb(18, 81, 122);
		margin-bottom: 0;
		i {
			color: green;
			margin-right: 5px;
		}
	}
}

.cancel {
	color: red;
	position: relative;
	float: right;
	top: 5px;
	right: 30px;
	text-align: right;
	margin-left: auto;
	cursor: pointer;
}

.shadow {
	box-shadow: 1px 1px 15px 1px $grey-100;
}

.shadow-success {
	box-shadow: 1px 1px 5px 0.1px rgb(158, 192, 158);
}

.text-warning {
	color: #fbc531;
}

.text-error {
	color: #e74c3c;
}

.text-success {
	color: green;
}

.text-primary {
	color: $text-primary;
}

.text-light {
	color: $text-light;
}

.alert {
	background-color: lighten($color: $bg-primary, $amount: 5);
	opacity: 0.8;
	margin-right: 10px;
	margin-top: 40px;
	width: 100%;
	padding: 1px 20px;
	border-radius: 10px;
	font-size: 0.8em;
	color: rgb(246, 250, 246);
	font-weight: bold;
}

@media screen and (min-width: 768px) {
	body,
	html {
		font-size: 22px;
	}
	.logo {
		width: 150px;
	}
	.card {
		.header {
			img {
				width: 70px;
				height: 65px;
			}
		}
	}
}

@media screen and (min-width: 992px) {
	body,
	html {
		font-size: 28px;
	}
	.logo {
		width: 180px;
	}
	.card {
		.body {
			justify-content: flex-start;
			p {
				font-size: 0.5em;
			}
		}
	}
	.benefits-card {
		h4 {
			font-size: 0.8em;
		}
		p {
			font-size: 0.6em;
		}
	}
	.cancel {
		font-size: 0.7em;
	}
	#open {
		display: none;
	}
}
